/* =========================================
   ESTILOS GENERALES
========================================== */

body{

    font-family: Arial, Helvetica, sans-serif;

    background-color: #f4f4f4;

    text-align: center;

    padding: 40px;
}



/* =========================================
   CONTENEDOR PRINCIPAL
========================================== */

.contenedor{

    background-color: white;

    max-width: 700px;

    margin: auto;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}



/* =========================================
   TÍTULO
========================================== */

h1{

    font-size: 60px;
}



/* =========================================
   BOTONES
========================================== */

button{

    padding: 15px 25px;

    margin: 10px;

    border: none;

    border-radius: 10px;

    cursor: pointer;

    font-size: 18px;

    transition: 0.3s;
}



/* =========================================
   EFECTO HOVER

   Se activa al pasar el mouse
========================================== */

button:hover{

    transform: scale(1.05);
}



/* =========================================
   RESULTADO
========================================== */

#resultado{

    margin-top: 30px;

    font-size: 20px;

    background-color: #eeeeee;

    padding: 20px;

    border-radius: 10px;
}